button.flat {
  border: 1px solid #808080;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
}

button.flat:hover {
  background: #e6e3e3;
}

div.item {
  padding-bottom: 10px;
  border-bottom: 1px dotted #add8e6;
  display: flex;
  flex-wrap: wrap;
}

div.item:hover {
  border-bottom: 2px solid #add8e6;
}

div.item .content {
  width: 30%;
}

div.item .image {
  width: 70%;
}

div.image img {
  width: 200px;
}

tabs {
  width: 100%;
  margin-right: 30px;
  margin-top: 20px;
}
