button.flat {
  border: 1px solid #808080;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
}

button.flat:hover {
  background: #e6e3e3;
}

div.item {
  padding-bottom: 10px;
  border-bottom: 1px dotted #add8e6;
}

div.item:hover {
  border-bottom: 2px solid #add8e6;
}
